Typing /topic without arguments unsets the topic

Steps to reproduce:

- Join a test channel;
- Set the topic to "test" by typing `/topic test`;
- Type `/topic`.

Expected result: display "test" as the channel topic.

Actual result: the topic gets deleted (`No topic is set`).

It looks like /topic without arguments actually sends an empty string as an argument, thus unsetting it ([ref](https://www.irc.com/dev/docs/refs/commands/topic)).

How are you supposed to unset the topic then?

> How are you supposed to unset the topic then?

I.e. with `/raw topic #channel :`
or `/topic` <kbd>ctrl</kbd>+<kbd>o</kbd>. 
`/topic` with no arguments should just view the current topic.

There are currently no commands to view data using commands other than /whois, which is an exception in general from what is in general done in the client, so `/topic` should be made invalid instead or the stance on commands should be changed.

I see. I didn't realize this was intended and again, I'm not sure the actual behavior is expected by most users, since basically every client used in years of IRC  just displays it. If the code requires too much work, yes, it's probably better to make it invalid in the meantime to avoid blanking the topic by accident.

This is covered by [RFC 1459 §4.2.4](https://datatracker.ietf.org/doc/html/rfc1459#section-4.2.4).

The difference between "query the topic" and "set an empty topic" is a colon.

A colon is a literal part of the expansion of the `TOPIC` command alias defined in [CommandAliasManager](https://github.com/MCMrARM/revolution-irc/blob/master/app/src/main/java/io/mrarm/irc/config/CommandAliasManager.java#L60)

Rather than writing code to handle just this case, I recommend adding generic functionality to the variable expansion mechanism.

It existing syntax of `${variablename}` could be expanded allow modifiers between the variable name and the closing `}`, which is a technique used in several other scripting and configuration languages, especially the POSIX Shell scripting language, and the Exim mailer configuration language.

Whilst the POSIX Shell is ubiquitous, I do _not_ recommend its choice of syntax for modifiers for variable expansions, because it's excessively terse to the point of both harming readability and impeding future additions. (As it stands the old syntax for "replacement" clashes with the new syntax for "indexed substring", so users need to know some pretty arcane rules to cope; I want to avoid repeating that mistake.)

The Exim syntax is better, but lacks a syntactic distinction between plain variables and expansion control macros: you just have to know that `${if...` is the start of a command that runs one of two subcommands, returns some information, while `${ip...` is simply the start a variable expansion.

For this immediate problem, what's needed is a way to specify a "replacement value" to use when the variable is _not_ empty, so that you can then define the `TOPIC` command alias to include a colon only when the topic parameter is not empty.
```
TOPIC ${channel}${topic:replace_if_not_null{ :${topic}}}
```
or equivalently
```
TOPIC ${channel}${topic:regex_replace{.+}{ :${topic}}}
```

The use of nested braces is intentional; it makes it much easier to add new modifiers in the future and to stack multiple modifiers, without having to overhaul the grammar.

I've done some testing by creating a `/topicread` alias that has an optional channel parameter, and sends a raw `TOPIC #channel` command (without a colon). The result is apparently nothing - I suspect that it's intercepting the topic response message and using it to set the topic in the side menu.

Oh, and if I keep doing it, there's a strong likelyhood that RevolutionIRC will crash.

Some possibly-related stack traces:
```log
07-05 15:10:47.798 27870 27904 E AndroidRuntime: FATAL EXCEPTION: IRC Connection Handler 
07-05 15:10:47.798 27870 27904 E AndroidRuntime: Process: io.mrarm.irc, PID: 27870
07-05 15:10:47.798 27870 27904 E AndroidRuntime: java.lang.RuntimeException: Handler registration name collision
07-05 15:10:47.798 27870 27904 E AndroidRuntime:        at io.mrarm.chatlib.irc.CommandHandlerList.registerHandler(CommandHandlerList.java:54)
07-05 15:10:47.798 27870 27904 E AndroidRuntime:        at io.mrarm.chatlib.irc.cap.CapabilityManager.setEnabledCapabilities(CapabilityManager.java:62)
07-05 15:10:47.798 27870 27904 E AndroidRuntime:        at io.mrarm.chatlib.irc.cap.CapabilityManager.onCapabilitiesAck(CapabilityManager.java:114)
07-05 15:10:47.798 27870 27904 E AndroidRuntime:        at io.mrarm.chatlib.irc.handlers.CapCommandHandler.handle(CapCommandHandler.java:47)
07-05 15:10:47.798 27870 27904 E AndroidRuntime:        at io.mrarm.chatlib.irc.MessageHandler.handleLine(MessageHandler.java:53)
07-05 15:10:47.798 27870 27904 E AndroidRuntime:        at io.mrarm.chatlib.irc.IRCConnection.handleInput(IRCConnection.java:120)
07-05 15:10:47.798 27870 27904 E AndroidRuntime:        at io.mrarm.chatlib.irc.IRCConnection.lambda$WaOIvzbB9flSh3k_2YttU9UsnDA(Unknown Source:0)
07-05 15:10:47.798 27870 27904 E AndroidRuntime:        at io.mrarm.chatlib.irc.-$$Lambda$IRCConnection$WaOIvzbB9flSh3k_2YttU9UsnDA.run(Unknown Source:2)
07-05 15:10:47.798 27870 27904 E AndroidRuntime:        at java.lang.Thread.run(Thread.java:923)
```

```log
07-06 16:58:33.019 20266 20266 E AndroidRuntime: FATAL EXCEPTION: main
07-06 16:58:33.019 20266 20266 E AndroidRuntime: Process: io.mrarm.irc, PID: 20266
07-06 16:58:33.019 20266 20266 E AndroidRuntime: java.lang.NullPointerException: Attempt to invoke interface method 'int java.lang.CharSequence.length()' on a null object reference
07-06 16:58:33.019 20266 20266 E AndroidRuntime:        at android.text.SpannableString.<init>(SpannableString.java:34)
07-06 16:58:33.019 20266 20266 E AndroidRuntime:        at android.text.SpannableString.<init>(SpannableString.java:43)
07-06 16:58:33.019 20266 20266 E AndroidRuntime:        at io.mrarm.irc.util.IRCColorUtils.getFormattedString(IRCColorUtils.java:132)
07-06 16:58:33.019 20266 20266 E AndroidRuntime:        at io.mrarm.irc.util.MessageBuilder.buildMessage(MessageBuilder.java:372)
07-06 16:58:33.019 20266 20266 E AndroidRuntime:        at io.mrarm.irc.chat.ChatMessagesAdapter$MessageHolder.bind(ChatMessagesAdapter.java:437)
07-06 16:58:33.019 20266 20266 E AndroidRuntime:        at io.mrarm.irc.chat.ChatMessagesAdapter.onBindViewHolder(ChatMessagesAdapter.java:280)
```

```log
07-06 17:14:43.336  6498  6498 E AndroidRuntime: FATAL EXCEPTION: main
07-06 17:14:43.336  6498  6498 E AndroidRuntime: Process: io.mrarm.irc, PID: 6498
07-06 17:14:43.336  6498  6498 E AndroidRuntime: java.lang.NullPointerException: Attempt to invoke interface method 'int java.lang.CharSequence.length()' on a null object reference
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.text.SpannableString.<init>(SpannableString.java:34)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.text.SpannableString.<init>(SpannableString.java:43)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at io.mrarm.irc.util.IRCColorUtils.getFormattedString(IRCColorUtils.java:132)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at io.mrarm.irc.util.MessageBuilder.buildMessage(MessageBuilder.java:372)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at io.mrarm.irc.chat.ChatMessagesAdapter$MessageHolder.bind(ChatMessagesAdapter.java:437)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at io.mrarm.irc.chat.ChatMessagesAdapter.onBindViewHolder(ChatMessagesAdapter.java:280)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.RecyclerView$Adapter.onBindViewHolder(RecyclerView.java:6781)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.RecyclerView$Adapter.bindViewHolder(RecyclerView.java:6823)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.RecyclerView$Recycler.tryBindViewHolderByDeadline(RecyclerView.java:5752)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.RecyclerView$Recycler.tryGetViewHolderForPositionByDeadline(RecyclerView.java:6019)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.RecyclerView$Recycler.getViewForPosition(RecyclerView.java:5858)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.RecyclerView$Recycler.getViewForPosition(RecyclerView.java:5854)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.LinearLayoutManager$LayoutState.next(LinearLayoutManager.java:2230)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.LinearLayoutManager.layoutChunk(LinearLayoutManager.java:1557)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.LinearLayoutManager.fill(LinearLayoutManager.java:1517)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.LinearLayoutManager.onLayoutChildren(LinearLayoutManager.java:587)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.RecyclerView.dispatchLayoutStep2(RecyclerView.java:3924)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.RecyclerView.dispatchLayout(RecyclerView.java:3641)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.recyclerview.widget.RecyclerView.onLayout(RecyclerView.java:4194)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.layoutChildren(FrameLayout.java:332)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.onLayout(FrameLayout.java:270)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.viewpager.widget.ViewPager.onLayout(ViewPager.java:1775)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.RelativeLayout.onLayout(RelativeLayout.java:1103)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.RelativeLayout.onLayout(RelativeLayout.java:1103)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.layoutChildren(FrameLayout.java:332)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.onLayout(FrameLayout.java:270)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.RelativeLayout.onLayout(RelativeLayout.java:1103)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at androidx.drawerlayout.widget.DrawerLayout.onLayout(DrawerLayout.java:1231)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.layoutChildren(FrameLayout.java:332)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.onLayout(FrameLayout.java:270)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.layoutChildren(FrameLayout.java:332)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.onLayout(FrameLayout.java:270)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.layoutChildren(FrameLayout.java:332)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.onLayout(FrameLayout.java:270)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.LinearLayout.setChildFrame(LinearLayout.java:1841)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.LinearLayout.layoutVertical(LinearLayout.java:1673)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.LinearLayout.onLayout(LinearLayout.java:1582)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.layoutChildren(FrameLayout.java:332)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.widget.FrameLayout.onLayout(FrameLayout.java:270)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at com.android.internal.policy.DecorView.onLayout(DecorView.java:871)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.View.layout(View.java:23309)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewGroup.layout(ViewGroup.java:6539)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewRootImpl.performLayout(ViewRootImpl.java:3979)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewRootImpl.performTraversals(ViewRootImpl.java:3380)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewRootImpl.doTraversal(ViewRootImpl.java:2345)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.ViewRootImpl$TraversalRunnable.run(ViewRootImpl.java:9046)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.Choreographer$CallbackRecord.run(Choreographer.java:1044)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.Choreographer.doCallbacks(Choreographer.java:867)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.Choreographer.doFrame(Choreographer.java:794)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.view.Choreographer$FrameDisplayEventReceiver.run(Choreographer.java:1029)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.os.Handler.handleCallback(Handler.java:938)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.os.Handler.dispatchMessage(Handler.java:99)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.os.Looper.loop(Looper.java:264)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at android.app.ActivityThread.main(ActivityThread.java:8245)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at java.lang.reflect.Method.invoke(Native Method)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at com.android.internal.os.RuntimeInit$MethodAndArgsCaller.run(RuntimeInit.java:632)
07-06 17:14:43.336  6498  6498 E AndroidRuntime:        at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:1049)
```

Hmm, looks like this might have been fixed by patch d01efad in response to #248 .

